*{
    margin: 0%;
    padding: 0%;
}
body{
    background-color: rgb(9,15,31);
}
nav{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    background-color: rgb(6,10,21);
    color: white;
}
nav .left{
    display: flex;
    justify-content: center;
    justify-content: space-between;   
}
.left .icon i{
    padding: 35px;
    font-size: 16px;
}
.left ul li a{
    margin-top: 22px;
    margin-inline: 10px;
    font-size: 18px;
}
.left img{
    margin-top: -9px;   
}
.left ul{
    padding: 10px;
    margin: 22px;
    list-style: none;
}
.right{
    display: flex;
}
.right input{
    border: none;
    outline: none;
    color: white;
    height: 30px;
    border-bottom: 2px solid white;
    background-color: rgb(6,10,21);
    margin-top: 15px;
    font-size: 16px;
}
.right i{
    margin-left: -24px;
    margin-top: 20px;
}
.right button{
    width: 90px;
    height: 28px;
    background-color: rgb(27,79,252);
    color: white;
    font-size: 17px;
    border-radius: 5px;
    margin: 22px;
}
.right h3{
    margin: 25px;
}
.text{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    border: 2px solid white;
    width: 90%;
    height: 400px;
    border-radius: 5px;
    color: white;
    margin-left: 55px;
}
.text .txt{
    color: white;
    font-size: 33px;
    margin-top: 66px;
}
.text .txt button{
    width: 170px;
    height: 40px;
    background-color: transparent;
    color: white;
    font-size: 18px;
    border: 2px solid rgb(22,91,252);
    margin-top: 20px;
    border-radius: 5px;
    margin-top: 33px;
}
.text img{
    width: 64%;
    height: 300px;
    border-radius: 5px;
    margin-top: 50px;
}
h1{
    color: white;
    font-size: 22px;
    margin-left: 33px;
    margin-top: 22px;   
}
.latest{
   width: 100%;
   height: auto;
  /* add flexbox style*/
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
}
.latest img{
    margin: 20px;
    cursor: pointer;
    width: 20%;                                                                                                                                                                                             
    height: 300px;
    border-radius: 5px;
   
}
.movies{
    width: 100%;
    height: auto;
   /* add flexbox style*/
   display: flex;
   flex-direction: row;
   justify-content: space-around;
    flex-flow: wrap;
 }
.movies img{
    margin: 20px;
    width: 20%;
    height: 300px;
    border-radius: 5px;
  
}
.comedy{
    width: 100%;
    height: auto;
   /* add flexbox style*/
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   flex-flow: wrap;
}
.comedy img{
    margin: 20px;
    width: 20%;
    height: 300px;
    border-radius: 5px;
  
}
.Kids{
    width: 100%;
    height: auto;
   /* add flexbox style*/
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   flex-flow: wrap;
}
.Kids img{
    margin: 20px;
    width: 20%;
    height: 300px;
    border-radius: 5px;
  
}
.shows{
    width: 100%;
    height: auto;
   /* add flexbox style*/
   display: flex;
   flex-direction: row;
   justify-content: space-around;
  flex-flow: wrap;
}
.shows img{
    margin: 20px;
    width: 20%;
    height: 300px;
    border-radius: 5px;
   
}
.sports{
    width: 100%;
    height: auto;
   /* add flexbox style*/
   display: flex;
   flex-direction: row;
   justify-content: space-around;
  flex-flow: wrap;
}
.sports img{
    margin: 20px;
    width: 20%;
    height: 300px;
    border-radius: 5px;

}
.run{
    width: 100%;
    height: auto;
   /* add flexbox style*/
   display: flex;
   flex-direction: row;
   justify-content: space-around;
  flex-flow: wrap;
}
.run img{
    margin: 20px;
    width: 20%;
    height: 300px;
    border-radius: 5px;
}
.tamil{
    width: 100%;
    height: auto;
   /* add flexbox style*/
   display: flex;
   flex-direction: row;
   justify-content: space-around;
  flex-flow: wrap;
} 
.tamil img{
    margin: 20px;
    width: 20%;
    border-radius: 5px;
    height: 300px;
}
.english{
    width: 100%;
    height: auto;
   /* add flexbox style*/
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   flex-flow: wrap;
}
.english img{
    margin: 20px;
    width: 20%;
    border-radius: 5px;
    height: 300px; 
   
}
.hindi{
    width: 100%;
    height: auto;
   /* add flexbox style*/
   display: flex;
   flex-direction: row;
   justify-content: space-around;
  flex-flow: wrap;
}
.hindi img{
    margin: 20px;
    border-radius: 5px;
    height: 300px;
    width: 20%;
}
.story{ 
    width: 100%;
    height: auto;
   /* add flexbox style*/
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   flex-flow: wrap;
}
.story img{
    margin: 20px;
    border-radius: 5px;
    height: 300px;
    width: 20%;
    
}
 @media screen and (max-width: 1200px){
    nav{
        flex-direction: row;
    }
    .left img{
        display: none;
    }
    .text img{
        width: 50%;
    }
    .latest img{
        width: 40%;
    }
    .movies img{
        width: 40%
    }
    .comedy img{
        width: 40%;
    }
    .kids img{
        width: 40%;
    }
    .shows img{
        width: 40%;
    }
    .sports img{
        width: 40%;
    }
    .run img{
        width: 40%;
    }
    .tamil img{
        width: 40%;
    }
    .english img{
        width: 40%;
    }
    .hindi img{
        width: 40%;
    }
    .story img{
        width: 40%;
    }
    }
 @media screen and (max-width: 600px){
    nav{
        display: none;
    }
    .text{
        flex-direction: column;
        border: none;
    }
    .text .txt{
        font-size: 35px;
        padding-right: 20px;
    }
    .text .txt button{
        font-size: 25px;
        height: 35px;
        width: 55%;
    }
    .text img{
        width: 75%;
        height: 85px;
        padding-right: 55px;
    }
    .latest img{
        width: 100%;
    }
    .movies img{
        width: 100%;
    }
    .comedy img{
        width: 100%;
    }
    .kids img{
        width: 100%;
    }
    .shows img{
        width: 100%;
    }
    .sports img{
        width: 100%;
    }
    .run img{
        width: 100%;
    }
    .tamil img{
        width: 100%;
    }
    .english img{
        width: 100%;
    }
    .hindi{
        width: 100%;
    }
    .story{
        width: 100%;
    } 
}






    
      



     

        
       
       
           
    







    








            
        
            














    



    
    
     
 
      
  
    
   
    
  
































